---
import MenuView from '@layouts/MenuView.astro'

const shortcutDict = [
	{ shortcut: ['Ctrl', 'S'], action: `Force save` },
	{ shortcut: ['Ctrl', 'Shift', 'S'], action: `Download` },
	{ shortcut: ['Ctrl', 'Shift', 'P'], action: `Publish` },
	{ shortcut: ['Ctrl', 'Shift', 'E'], action: `Copy and edit` },
	{ shortcut: ['Ctrl', 'O'], action: `Open file(s)` },
	{ shortcut: ['Ctrl', 'B'], action: `Bold / unbold` },
	{ shortcut: ['Ctrl', 'I'], action: `Italic / unitalic` },
	{ shortcut: ['Ctrl', 'E'], action: `Code / uncode` },
	{ shortcut: ['Esc'], action: `Back to notes` },
	{ shortcut: ['↓', '↑'], action: `Navigate notes` },
	{ shortcut: ['Delete'], action: `Delete note` },
	{
		shortcut: ['Shift', 'Delete'],
		action: `Delete w/o confirmation`,
	},
]
---

<MenuView id="shortcuts" title="Shortcuts"
	><dl id="shortcuts-list" class="shortcuts">
		{
			shortcutDict.map((x) => (
				<div>
					<dt>
						<samp>
							{x.shortcut.map((key) => (
								<kbd>{key}</kbd>
							))}
						</samp>
					</dt>
					<dd>{x.action}</dd>
				</div>
			))
		}
	</dl>
</MenuView>
<style lang="scss">
	@use '@styles/blocks.sass';

	.shortcuts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		gap: var(--space-xl) var(--space-l);
		padding-right: var(--space-xl);
		padding-bottom: var(--space-l);
	}

	samp {
		color: var(--color-main);
	}

	dd {
		margin-top: calc(var(--space-m) + var(--space-s));
	}
</style>
<script>
	import { isMac } from '@scripts/utils/isMac'

	if (isMac()) {
		const shortcuts = document
			.getElementById('shortcuts-list')
			.getElementsByTagName('kbd')
		for (const el of shortcuts) {
			el.textContent = el.textContent.replace('Ctrl', '⌘')
		}
	}
</script>
