<div id="view-actions">
		<input
			type="text"
			class="search action-header"
			role="combobox"
			placeholder="Search for actions"
			autocomplete="off"
		/>
		<hr />
	<ul class="action-list" role="listbox" data-placeholder="nothing found">
	</ul>
</div>
