---
import { Icon } from 'astro-icon/components'
const { closable, class: className } = Astro.props
---

<hr />
<div class=`hint ${className}`>
	<div class="content">
		<span
			><samp><kbd>↑↓</kbd></samp>
			to select</span
		><span><samp><kbd>↲</kbd></samp> to run </span><span
			><samp><kbd>⌘</kbd><kbd>K</kbd></samp> to toggle menu</span
		>
	</div>{
		closable && (
			<button>
				<Icon name="close" />
			</button>
		)
	}
</div>

<style>
	hr {
		margin-top: 0;
		margin-bottom: 0;
	}
	.hint {
		display: flex;

		padding: calc(var(--space-s) + var(--space-m))
			calc(var(--space-m) + var(--space-m));
		font-size: var(--font-size-xs);
		display: flex;
	}

	span {
		margin-right: var(--space-m);
	}

	.content {
		width: 100%;
	}

	samp {
		color: var(--color-main);
		font-size: inherit;
	}

	svg[data-icon='close'] {
		color: var(--color-main-25);
		height: 100%;
		width: auto;

		&:hover {
			color: var(--color-main-50);
		}
	}
</style>
<script></script>
