#action-menu
    position: fixed
    bottom: 4rem
    z-index: 1

.action-toggle
    display: flex
    padding: var(--space-m) var(--space-l)
    gap: var(--space-m)
    align-items: baseline
    
    position: relative
    z-index: 2

.action-popup
    position: absolute
    bottom: calc(100% + 1rem)
    left: 50%
    transform: translateX(-50%)
    
    overflow-y: scroll
    z-index: 1

    min-width: 300px
    width: 50vw
    height: 50vh
    max-height: 20rem
   
    border-radius: var(--radius-xl)
    padding: var(--space-m) 0
    box-shadow: var(--shadow-l)

    opacity: 0
    pointer-events: none
    scale: .5
    transform-origin: bottom center
    transition: opacity var(--transition-s), background-color var(--transition-s), scale var(--transition-m)

    .input-wrapper
        padding: var(--space-m) var(--space-l)

    input
        width: 100%

    hr
        margin: var(--space-s) var(--space-l)
        border-color: var(--color-main-15)

    &.active
        opacity: 1
        scale: 1
        pointer-events: all

.action-list
    display: flex
    flex-direction: column
    gap: var(--space-s)

    font-size: var(--font-size-s)
    text-wrap: nowrap

    transform-origin: center
    transition: opacity var(--transition-s), background-color var(--transition-s), transform var(--transition-m)

    button, li > a
        display: flex
        justify-content: space-between
        gap: var(--space-xl)

        opacity: 1
        transition: color var(--transition-s), transform var(--transition-s)

        &:hover
            color: var(--color-main-50)
            &:active
                transform: scale(.95)

            > .value
                width: 6ch
                text-align: right
                color: var(--color-main-50)

    li > button
        width: 100%
        padding: var(--space-m) var(--space-l)

.shortcut
    display: flex
    gap: var(--space-m)
    font-size: var(--font-size-xs)
    color: var(--color-main-25)
