
html,
body
    min-height: 100vh
    overflow-x: hidden
    font-family: var(--font-main)
    background: var(--color-background)

body
    display: flex
    flex-direction: column
    align-items: center

    max-width: var(--page-width)
    margin: 0 auto

    padding: var(--page-padding-v) var(--page-padding)
    font-size: var(--font-size-m)

main
    width: 100%
