.editor
    position: relative

    width: 100%
    height: 60vh
    max-height: 100%

    margin: 0 auto
    transition: height 1ms 150ms
    animation: 300ms fade-in linear

    // When we show notes
    &.collapsed
        height: 8rem

    > p:only-child::before
        display: none
        content: 'Start typing...'

        position: absolute
        top: 0
        left: 0

        color: var(--color-main-25)
        pointer-events: none

    // Editor is empty
    > p:only-child
        &:has(br:only-child)
            &::before
                display: block

    ul
        ul > li
            margin-left: var(--space-xl)

    ol
        ol > li
            margin-left: var(--space-xl)

    ul>li::marker
        content: '· '

    li > p
        display: inline

main
    // Not empty
    &:not(:has(.editor > p:only-child > br:only-child))
        ul.notes
            animation: none
            opacity: 0
            display: none
            pointer-events: none

// Prosemirror asked me to do this
.ProseMirror
    white-space: pre-wrap
