@import @styles/variables.sass
@import @styles/reset.sass
@import @styles/editor.sass

// Typography
html
	font-family: var(--font-main)
	font-size: var(--font-size)

h1
	font-size: 1.5em

h2
	font-size: 1.3em

// Elements
body
	transition: background-color var(--transition-s), color var(--transition-s)

button
	cursor: pointer

a
	text-decoration: underline
	text-underline-offset: 4px
	text-decoration-color: var(--color-main-25)
	text-decoration-thickness: 1px

ul
	ul > li
		padding-left: var(--padding-m)
ul li:not(:has(ul:first-child))::before
		content: "· "

.editor > ul
	margin-left: -12px