ul.notes
    list-style: none

    display: flex
    flex-direction: column
    gap: var(--space-s)

    transition: opacity var(--transition-m)
    animation: 300ms fade-in linear

    &::before
        content: 'Or pick a note'
        color: var(--color-main-25)
        margin-bottom: var(--space-m)

    li
        display: flex
        gap: var(--space-xl)
        padding: var(--space-m) 0

        text-wrap: balance
        cursor: pointer

        opacity: 0
        animation: 300ms fade-in-scale linear
        animation-fill-mode: both

        transition: color var(--transition-xs)

        @for $i from 1 to 30
            &:nth-child(#{$i})
                animation-delay: $i * 50ms

        &:hover
            .name
                color: var(--color-main-50)
            .date
                color: var(--color-main-25)

        span
            &.name
                flex-grow: 1

            &.date
                color: var(--color-main-50)
                text-wrap: nowrap

// Animations
@keyframes fade-in-scale
    0%
        opacity: 0
        transform: scale(0.98)
    100%
        opacity: 1
        transform: scale(1)
