---
import '@styles/action-menu.sass'
---

<div id="action-menu" class="shown">
	<button class="action-toggle bg-blur"
		><span>Menu</span>
		<!-- show only when opened? -->
		<span class="shortcut">
			<kbd>Ctrl</kbd><kbd>K</kbd>
		</span>
	</button>
	<div class="action-popup bg-blur" role="dialog">
		<div class="input-wrapper">
			<input
				type="text"
				class="search"
				role="combobox"
				placeholder="Search for actions"
				autocomplete="off"
			/>
		</div>
		<ul class="action-list" role="listbox" data-placeholder="nothing found">
		</ul>
	</div>
</div>
<script>
	import { Menu } from '@scripts/menu/classes/Menu'
	import { state } from '@scripts/state'

	state.menu = new Menu()
</script>
