---
import '@styles/action-menu.sass'
import Actions from '@components/menu/Actions.astro'
import NewMenu from '@components/menu/NewMenu.astro'
import Shortcuts from '@components/menu/Shortcuts.astro'
import MdHandbook from '@components/menu/MdHandbook.astro'
---

<div id="action-menu">
	<button class="action-toggle bg-blur"
		><div class="left">
			<span>Menu</span>
		</div>
	</button>
	<div class="action-popup bg-blur" role="dialog" tabindex="-1">
		<Actions />
		<NewMenu />
		<Shortcuts />
		<MdHandbook />
	</div>
	<script>
		import { Menu } from '@scripts/menu/classes/Menu'
		import { state } from '@scripts/state'
		state.menu = new Menu()
	</script>
</div>
