---
import Menu from './Menu.astro'

const { button = { name: 'save as file', action: null } } = Astro.props
---

<header class="editor-header">
	<button class="export">
		{button.name}
	</button>
	<Menu />
</header>
