---
import '@styles/header.sass'
import { Icon } from 'astro-icon/components'
import Menu from '@components/Menu.astro'

const { pro } = Astro.props
---

<header class="editor-header">
	<div class="left" data-context="notes">
		<form>
			<input type="file" multiple accept=".md,.txt" id="upload" />
		</form>
		<button class="back"><Icon name="back" /></button>
		<button class="add"><Icon name="add" /></button>
	</div>
	{pro && <span class="subtitle">PRO</span>}
	<div class="right">
		<div class="status"></div>
		<Menu />
	</div>
</header>
