---
import ViewHeader from '@components/menu/ViewHeader.astro'
const { title, id } = Astro.props
---

<menu-view id={'view-' + id} hidden tabindex="0">
	<ViewHeader title={title} />
	<div class="content"  tabindex="0">
		<slot />
	</div>
</menu-view>
<script>
	import { state } from '@scripts/state'
	import { getByClass } from '@scripts/utils/getElements'

	class MenuView extends HTMLElement {
		connectedCallback() {
			getByClass('back', this)?.addEventListener('click', () => {
				state.menu.closeViews()
			})

			const content = getByClass('content', this)
			this.addEventListener('focus', () => {
				if (document.activeElement === content) return
				content.focus()
			})
		}
	}

	customElements.define('menu-view', MenuView)
</script>
<style>
	.content {
		overflow-y: scroll;

		padding: var(--space-l);
		font-size: var(--font-size-s);

		h2,
		h3 {
			font-weight: 600;
		}
	}
</style>
